<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style3.css" rel="stylesheet">
</head>

<body>
    <title animate__slideOutLeft>El atellier</title>
    <svg viewBox="0 0 1320 300">

        <!-- Symbol -->
        <symbol id="s-text">
          <text text-anchor="middle"
                x="50%" y="50%" dy=".35em">
           Se Viene!..
          </text>
        </symbol>  
      
        <!-- Duplicate symbols -->
        <use xlink:href="#s-text" class="text"
             ></use>
        <use xlink:href="#s-text" class="text"
             ></use>
        <use xlink:href="#s-text" class="text"
             ></use>
        <use xlink:href="#s-text" class="text"
             ></use>
        <use xlink:href="#s-text" class="text"
             ></use>
      
      </svg>
    <br>
    <br>
    <p><a href="webinterior.html">Inicio</a></p>
</body>

</html>