<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body style="background-color: rgb(47, 248, 255);">
    <p>Bienvenidos!!</p>
    <article>En Esta seccion encontraran una Reseña de su servidor,o sea el artista detras de esta web</article>
    <p>
        Bueno Mi nombre es Tomás,soy tecnico de laboratorio desde el 2003, oficialmente 2008 donde comence a trabajar en distintos laboratorios Desde el 2010 ultimo empleo en laboratorio tuve empleos chicos, y consegui un trabajo haciendo matenimiento en colegios,
        actualmente estoy desempleado, no se realiza mantenimiento por las causas de conocimiento publico, esta cerrado hace dos años el edificio Igualmente me dedico a pintar, crear,esalgo que me gusta y hago cada vez que puedo, ultimamente no tengo
        para materiales,hay una posibilidad de empleo dando vueltas, nada de mi interes pero si una posibilidad de ingresos, asi que despues les cuento como me fue, si les interesami propuesta,les agradezco secontacten con soporte, para ponernos en contacto</p>
    <br>
    <br>
    <img src="images/fondo2.jpg">
    <br>
    <p>
        La propuesta que me gustaría hacerles es un presto cuadros, en terminos concretos si les interesaalguno en especial y quieren que se los preste, por unos cuantos mangos lo pueden tener,siempre y cuando respeten todas las clausulas Quiero saber donde va
        a estar guardado o expuesto, si me quiero sacar laduda del estado del cuadro, me atienden,si no atienden voy a iniciar un reclamo, si se me ocurrio un minicotrato, para prestar cuadros, por el momento no pienso en vender.. Saludos!! un gusto.
        Tomás
    </p>
</body>

</html>