<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Work on /Registro de trayectoria, para concejeros!.</title>
    <h1>Test de Oficios y profesiones</h1>
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="py-4 text-center">
        <img class="d-block mx-auto mb-4" src="./images/logo.jpg" alt="Logo caba" width="72" height="72">
        <h2>Formulario de trayectoria</h2>
        <p class="lead">Gracias por colaborar con su trayectoria</p>
    </div>
    <br>
    <p><a href="webinterior.html">Inicio</a></p>
    <br>
    <div class="col-md-12 text-center">
        <h4 class="mb-3">Su trayectoria</h4>
        <form class="needs-validation" novalidate action="../controller/checkPedido.php" method="POST">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Tu nombre" value="" required>
                    <div class="invalid-feedback">
                        Oficio, profesion?.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName"></label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Tu apellido" value="" required>
                    <div class="invalid-feedback">
                        Faltó ingresar su oficio profesion.
                    </div>
                </div>
            </div>


            <hr class="mb-4">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar Formulario</button>
                </div>
            </div>
        </form>
    </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2022</p>
    </footer>
    </div>

    <script src="./js/form-validation.js"></script>
</body>

</html>