<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<link href="css/estilo2.css" rel="stylesheet" type="text/css">


<body style="background: coral">
    <p>
        Bienvenidos al interior de mi website!!</p>

    <p><a href="pedido.html">Hace tu pedido, un art</a></p>
    <header>

        <nav>

            <div id="header">

                <ul class="nav">

                    <li><a href="">Principio</a></li>

                    <li><a>Areas</a>

                        <ul>

                            <li><a>Webs</a>
                                <ul>

                                    <li><a href="dinamicas.html">Dinamicas</a></li>

                                    <li><a href="staticas.html">Staticas</a></li>

                                    <li><a href="mantenimiento.html">Mantenimiento</a></li>
                                </ul>
                            </li>

                            <li><a href="Ciencias.html">NotiCiencia</a></li>

                            <li><a href="arte.html">Galeria Arte</a></li>

                            <li><a href="Blog.html">Blog</a></li>

                        </ul>

                        <li><a href="listadoPedidos.php">Lista Pedidos</a></li>

                    </li>
                    <li>
                        <a href="soporte.html">Soporte</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <title>Bienvenidos a mi Web</title>
    <h1 style="text-align: center"><span style="background-color: #8D4925">El Atellier de Tuti</span></h1>
    <br>
    <br>

    <section>
        <h2>Secciones</h2>
        <ul>
            <li><a href="arte.html">Arte</a>
                <p>Arte y contacto para cartera de clientes</p>
            </li>
            <li><a href="programacion.html">Webs</a>
                <p>Programacion link al portfolio de gith</p>
            </li>
            <li><a href="Ciencias.html">Ciencias</a>
                <p>Notiias y novedades, Ciencias</p>
            </li>
        </ul>

    </section>
    <p>Un poco de mi, luego de varios años de trabajo en laboratorios industrias, me dedique a otras tareas y actualmente me dedico a mis hobbis pintar escribir y programar, les agradezco su vicita!, dejenme saludos en el Blog!</p>
    <section>
        <h3><a href="Blog.html">Blog</a></h3>
        <p>En esta seccion ire cargando, datos curiosos, Consejos como colaborar con pobresa, o demencia, como detectar casos de demencia y donde avisar, por ej. el "si estas con la loca idea de chorear y no queres terminar preso llama al 911 y pedi ayuda
            al grito de pobreza y muchas otras cosas e ideas de utilidad, como ganarse el millon</p>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="Https://myradiozen.radio12345.com" target=" blank">My Radio Zen</a>
    <br>
    <br>
    <br>
    <p>Aca voy a cargar los programas en vivo para que no se los pierdan!</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <a href="c.v..html ">C.V.</a>
        <br>
        <br>
    </footer>


</body>

</html>